<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../comunt/vue.js"></script>

  <style>
    #app {
      width: 250px;
      height: 150px;
      border: 1px solid #ccc;
    }

    table {
      width: 500px;
      height: 400px;
    }

    tr,
    td {
      width: 100px;
      height: 50px;
      text-align: center;
      line-height: 50px;
    }

    #form {
      width: 230px;
      height: 100px;
      border: 1px solid red;
      /* display: none; */
    }
  </style>
</head>

<body>
  <div id="app">
    数字1<input type="text" v-model="n1">
    <br>
    <select v-model="opu">
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="*">*</option>
      <option value="/">/</option>
    </select>
    <br>
    数字2<input type="text" v-model="n2">
    <br>
    <input type="button" value="=" @click="fun">
    <br>
    结果:<input type="text" v-model="at">
  </div>
  <script>
    var mv = new Vue({
      el: "#app",
      data: {
        n1: "",
        n2: "",
        opu: "+",
        at: "",
      },
      methods: {
        fun() {
          switch (this.opu) {
            case "+":
              this.at = Number(this.n1) + Number(this.n2);
              break;
            case "-":
              this.at = Number(this.n1) - Number(this.n2);
              break;
            case "*":
              this.at = Number(this.n1) * Number(this.n2);
              break;
            case "/":
              this.at = Number(this.n1) / Number(this.n2);
              break;
          }
        }
      }
    }) 
  </script>

  <div class="table">
    <table border="1">
      <thead>
        <tr>
          <td>id</td>
          <td>姓名</td>
          <td>年龄</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody v-for="(item,index) in prom" :key="index">
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.age}}</td>
          <td>
            <button @click="fun">添加</button>
            <button @click="cut(index)">修改</button>
            <button @click="shan(index)">删除</button>
            <button @click="fut(index)">查看</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <form action="#">
        <span>id</span>
        <input type="text" v-model="id">
        <br>
        <span>名字</span>
        <input type="text" v-model="name">
        <br>
        <span>年龄</span>
        <input type="text" v-model="age">
        <br>
        <input type="submit" @click="change" value="提交">

      </form>

    </div>
  </div>

  <script>

    new Vue({
      el: ".table",
 data: {
       id: "",
        name: "",
        age: "",
        prom: [{ id: "1", name: "李四", age: "19" },
        { id: "2", name: "张三", age: "21" },
        { id: "3", name: "王五", age: "17" },
        { id: "4", name: "丽丽", age: "16" },
        { id: "5", name: "韵韵", age: "15" }],

      },
      methods: {
//添加
        fun() {
          let abj = {
            id: this.id,
            name: this.name,
            age: this.age,
          }
          this.prom.push(abj)
   },
        //删除
        shan(index) {
          if (confirm("确定删除嘛")) {
            this.prom.splice(index, 1);
          }
        },
        //修改
        cut(index) {
          this.index = index;
          this.id = this.prom[index].id;
          this.age = this.prom[index].age;
          this.name = this.prom[index].name;
        },
        //提交
        change() {
          event.preventDefault();
          this.prom[this.index].id = this.id;
          this.prom[this.index].age = this.age;
          this.prom[this.index].name = this.name;
          this.id = ""; this.age = ""; this.name = ""; 	
        },
        //查看
        fut(index) {
          console.log(index);
          this.id = this.prom[index].id;
          this.age = this.prom[index].age;
          this.name = this.prom[index].name;
        },


      }
    })
  </script>
</body>

</html>