<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/comunt/vue.js"></script>
 
  <style>
    #app {
      width: 250px;
      height: 150px;
      border: 1px solid #ccc;
    }

    table {
      width: 500px;
      height: 400px;
    }

    tr,
    td {
      width: 100px;
      height: 50px;
      text-align: center;
      line-height: 50px;
    }

    #form {
      width: 230px;
      height: 100px;
      border: 1px solid red;
      /* display: none; */
    }
  </style>
</head>

<body>
  <div id="app">
    数字1<input type="text" v-model="n1">
    <br>
    <select v-model="opu">
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="*">*</option>
      <option value="/">/</option>
    </select>
    <br>
    数字2<input type="text" v-model="n2">
    <br>
    <input type="button" value="=" @click="fun">
    <br>
    结果:<input type="text" v-model="at">
  </div>
  <script>
    var mv = new Vue({
      el: "#app",
      data: {
        n1: "",
        n2: "",
        opu: "+",
        at: "",
      },
      methods: {
        fun() {
          switch (this.opu) {
            case "+":
              this.at = Number(this.n1) + Number(this.n2);
              break;
            case "-":
              this.at = Number(this.n1) - Number(this.n2);
              break;
            case "*":
              this.at = Number(this.n1) * Number(this.n2);
              break;
            case "/":
              this.at = Number(this.n1) / Number(this.n2);
              break;
          }
        }
      }
    }) 
  </script>

  <div class="table">
    <table border="1">
      <thead>
        <tr>
          <td>id</td>
          <td>姓名</td>
          <td>年龄</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody v-for="p in prom" :key="p.id">
        <tr>
          <td>{{p.id}}</td>
          <td>{{p.name}}</td>
          <td>{{p.age}}</td>
          <td>
            <button @click="fun">添加</button>
             <button @click="cut(p.id)">修改</button> 
           <button @click="shan">删除</button>
            <button @click="fut(p.id)">查看</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <span>{{p.id}}:</span>
    <input type="text"v-model="ne.id">
    <br>
    <span>{{p.name}}:</span>
    <input type="text"v-model="ne.name" >
    <br>
    <span>{{p.age}}:</span>
    <input type="text" v-model="ne.age">
    <br>
  </div>
   <script>

    var mv = new Vue({
      el: ".table",
      data() {
        return {
          prom: [{ id: "1", name: "李四", age: "19" },
          { id: "2", name: "张三", age: "21" },
          { id: "3", name: "王五", age: "17" },
          { id: "4", name: "丽丽", age: "16" },
          { id: "5", name: "韵韵", age: "15" }],
          ne:{
             id:'',
             name:'',
             age:'',
           },
           editIndex:-1,
        }
      },
      methods: {
        //添加
       fun(){
            console.log(this.editIndex);
            if (this.ne.id && this.ne.name && this.ne.age) {
              if (this.editIndex > -1) {
                // 编辑模式，更新对应索引的条目
                this.prom[this.editIndex] = { ...this.ne };
              } else {
                // 添加模式，将新条目推入数组
                this.prom.push({ ...this.ne });
              }
              this.clearForm(); // 清空表单数据和编辑状态
            } else {
              alert("请添加字段"); // 提示填写所有字段
            }
          },
       //修改
       cut(index) {
       
            this.ne = { ...this.prom[index] };
            this.editIndex = index;
            this.cut = "修改";
            console.log();
          },
       
       //删除
        shan:function(prom) {
          if(confirm("确定删除嘛")){
            this.prom.splice(this.prom.indexOf(prom),1);
          }
         },
             
      }
    })
  </script>
</body>

</html>